@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
html{
	font-family: sans-serif;
	font-size: 20px;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	width: 100%;
}
p{
    font-size:0.75rem;
	margin-bottom:1.5em;
	color: #757575;
}
a {
	text-decoration: none;
	color: #388E3C;
}
.article-body {
	max-width:96%;
	margin: 0 auto;
	display:block;
}
img {
	max-width: 100%;
	display: block;
	border:0;
}

/*文字、背景颜色*/
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
h1 {
	font-size: 1.2rem;
}
h2 {
	font-size: 1rem;
}
h3 {
	font-size: 0.8rem;
}
h4 {
	font-size: 0.7rem;
}
h5 {
	font-size: 0.7rem;
	font-weight: normal;
	color: #757575;
}
h6 {
	font-size: 0.7rem;
	font-weight: normal;
	color: #757575;
}
