@charset "utf-8";
/* CSS Document */
/*
 *  Usage:
 *
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
 *
 */
.sk-wave {
	margin: 4px auto;
	height: 30px;
	width:100%;
	text-align: center;
	font-size: 10px;
	display:none;
}
.sk-wave .sk-rect {
	background-color: #4CAF50;
	height: 100%;
	width: 3px;
	display: inline-block;
	-webkit-animation: sk-waveStretchDelay 1.0s infinite ease-in-out;
	animation: sk-waveStretchDelay 1.0s infinite ease-in-out;
}
.sk-wave .sk-rect1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.sk-wave .sk-rect2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.sk-wave .sk-rect3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.sk-wave .sk-rect4 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.sk-wave .sk-rect5 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
 @-webkit-keyframes sk-waveStretchDelay {
 0%, 40%, 100% {
 -webkit-transform: scaleY(0.4);
 transform: scaleY(0.4);
}
 20% {
 -webkit-transform: scaleY(1);
 transform: scaleY(1);
}
}
 @keyframes sk-waveStretchDelay {
 0%, 40%, 100% {
 -webkit-transform: scaleY(0.4);
 transform: scaleY(0.4);
}
 20% {
 -webkit-transform: scaleY(1);
 transform: scaleY(1);
}
